.container-header {
    background: radial-gradient(var(--white), var(--rose));

    .header{
        max-width: 1300px;
        margin: auto;
        padding: 0 25px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;

        .col-2 {
            flex-basis: 50%;
            min-width: 250px;

            img {
                max-width: 100%;
                padding: 50px 0;
                margin-left: 50px;
                align-items: flex-end
            }

            h1 {
                color: var(--dark-gray);
                font-size: 50px;
                line-height: 60px;
                margin: 25px 0;
                margin-right: 40px;
            }

            p {
                color: var(--gray);
            }

            button {
                margin-left: 50px;
            }

            .btn {
                display: inline-block;
                background: var(--primary);
                color: var(--white);
                padding: 15px 30px;
                margin: 30px 0;
                border-radius: 30px;
                margin-left: 50px;
                text-transform: uppercase;
                font-weight: bold;
            }

            h1, p {
                padding-left: 50px;
            }
        }

        @media(max-width: 800px) {
            padding: 0;
            .col-2 {
                margin: 0;

                h1, p, img  {
                    padding-left: 0;
                }

                .btn, img {
                    margin-left: 0;
                }
            }
        }
    }
}