.container-buy {
    background: url('https://i.imgur.com/Xz2GtDJ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-size: 100%;
    max-height: 100%;
    height:700px;

    .content {
        position: absolute;
        top: 50%;
        margin-bottom: 50px;
        display: block;
        width: 100%;
        text-align: center;

        h1 {
            color: var(--white);
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 20px;
        }

        p {
            color: var(--white);
            font-size: 14px;
            font-weight: 400;
        }

        #search-store {
            margin-top: 70px;
            display: inline-flex;
            justify-content: space-evenly;
            text-transform: uppercase;

            p {
                margin-left: 10px;
            }

            input, select, option {
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 10px;
                color: var(--dark-gray);
            }

            input {
                margin-left: 350px;
            }

            p {
                font-weight: bold;
            }

            .state {
                margin-right: 350px;

                select {
                    margin-right: 20px;
                }
            }
        }

        @media(max-width: 800px) {
            position: absolute;
            display: inline;
            width: 100%;
            top: 200px;
            text-align: center;

            h1, p {
                color: var(--dark-gray);
            }

            h1 {
                font-size: 12px;
            }

            p {
            display: none;
            }
            
            #search-store {
                flex-direction: column;
                margin: auto;
                justify-content: center;
            

                input {
                    border: none;
                    width: 150px;
                    margin-left: 0;
                    margin: auto;
                }

                .state {
                    display: flex;
                    flex-direction: column;
                    margin-right: 0;
                    margin: auto;

                    select {
                        border: none;
                        margin: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }   
    
    @media(max-width: 800px) {
        background-image: none;
    }
}