.container-navbar {
    background: var(--white);

    .container {
        align-items: center;
        padding: 20px;
        padding-top: 25px;
    }


    @media (max-width: 800px) {
        .closed {
            display: none;
        }
    }

    .logo {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--dark);
    cursor: pointer;
    transition: ease-in .1s;

        @media (max-width: 800px) {
            margin: 0;
        }
    }

    .nav-content  {
        flex: 1;
        text-align: right;

        ul {
            display: inline-block;
            list-style: none;
        }

        ul li {
            display: inline-block;
            margin-right: 20px;
        }

        a {
            text-decoration: none;
            color: var(--gray);
            font-weight: 500;
            padding-bottom: 16px;

            &:hover {
                border-bottom: 4px solid var(--primary);
            }
        }

        p {
            color: var(--gray);
        }

        @media (max-width: 800px) {
            ul {
                position: absolute;
                top: 70px;
                left: 0;
                background: var(--gray);
                width: 100%;

                li {
                    display: block;
                    margin-right: 50px;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    a {
                        color: var(--white);

                        &:hover {
                            color: var(--white);
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
    .menu-icon {
        display: none;

        @media (max-width: 800px) {
            display: block;
            width: 25px;
            margin-right: 30px;
            color: var(--dark-gray);
            cursor: pointer;
        }
    }
}
